@import '../../../../scss/custom';
.station {
    display: none;
    &__heading {
        display: flex;
        justify-content: space-between;
        &__title {
            font: {
                size: 20px;
                weight: bold;
            }
        }
        &__add-new-station-btn {
            @include button(170px, 50px, $dark-blue);
        }
    }
    &__list {
        width: 100%;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        &__item {
            background-color: white;
            padding: 20px;
            min-width: 300px;
            height: 150px;
            position: relative;
            border-radius: 3px;
            display: inline-block;
            &__name {
                font: {
                    size: 17px;
                    weight: bold;
                }
            }
            &__status {
                display: flex;
                align-items: center;
                div {
                    height: 10px;
                    width: 10px;
                    background-color: $green;
                    border-radius: 50%;
                    margin-left: 14px;
                    margin-right: 5px;
                    margin-top: 3px;
                }
            }
            &__action {
                display: flex;
                position: absolute;
                bottom: 20px;
                right: 20px;
                &__detail-btn, &__more-btn {
                    cursor: pointer;
                    text-align: center;
                    border-radius: 2px;
                }
                &__detail-btn {
                    transition: all 0.3s ease;
                    padding: 0 10px;
                    font-size: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                        transition: all 0.3s ease;
                    }
                }
                &__more-btn {
                    margin-right: 10px;
                }
            }
            transition: all 0.3s ease;
            &:hover {
                @extend %shadow;
                transition: all 0.3s ease;
            }
        }
    }
}

.update-station-status {
    width: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


    .station-status {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 8px;
        &--active {
            background-color: $green;
        }
        &--inactive {
            background-color: $red;
        }
    }


.station-creation {
    width: 100%;
    transition: all 0.5s ease;
    &__title {
        font: {
            size: 20px;
            weight: bold;
        }
        padding: 20px;
        padding-bottom: 0;
    }
    &__form {
        padding: 20px;
        padding-top: 10px;
        // label {
        //     display: block;
        // }
        // input, select, Select {
        //     width: 100%;
        //     margin-top: 7px;
        //     height: 40px;
        //     border: none;
        //     border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        //     padding: 0 10px;
        //     transition: all 0.3s ease;
        //     &:focus {
        //         padding: 0 15px;
        //         outline: none;
        //         @extend %shadow;
        //         transition: all 0.3s ease;
        //     }
        // }
        .css-b62m3t-container {
            margin-top: 10px;
        }
        &__name, 
        &__description, 
        &__coordination, 
        &__sensor-selection,
        &__dam-selection {
            margin-top: 20px;
        }
        &__coordination {
            &__input {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                &__longitude, &__latitude {
                    width: 48%;
                }
            }
        }
    }
    &__action {
        // background-color: rgba(0, 0, 0, 0.08);
        padding: 20px 20px;
        display: flex;
        justify-content: right;
        // margin-top: px;
        &__cancel-btn {
            margin-right: 10px;
            @include button(100px, 40px, white);
            color: $dark-blue;
            border-color: rgba(0, 0, 0, 0.2);
            &:hover {
                filter: brightness(98%);
            }
        }
        &__creation-btn {
            @include button(120px, 40px, $dark-blue);
        }
    }
}

.css-1c8mypd-MuiFormControl-root {
    width: 300px !important;
    padding: 0;
    margin: 0 !important;
    border: none !important; 
}

.css-ppxnyn-MuiFormControl-root {
    margin: 0 !important;
}

// .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
//     margin: 0;
//     border: none !important;
// }

// #demo-multiple-name {
//     border: none !important;
//     outline: none !important;
// }

// .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
//     border: none !important;
//     outline: none !important;
//     &:focus {
//         outline: none !important;
//     }
// }

//spinner 
.spinner-border {
    border-width: thin;
    position: relative;
}

//modal
.modal-content {
    border: none;
    border-radius: 1px;
}
.deletion-station-confirm {
    &__body {
        padding: 20px;
        height: 100px;
    }
    &__action {
        display: flex;
        justify-content: right;
        padding: 15px 20px;
        background-color: rgba(0, 0, 0, 0.08);
        &__cancel-btn, &__accept-btn {
        }
        &__accept-btn {
            @include button(100px, 40px, $red);
        }
        &__cancel-btn {
            margin-right: 10px;
            @include button(100px, 40px, white);
            color: $dark-blue;
            &:hover {
                filter: brightness(98%);
            }
        }
    }
}

.sensor-list {
    --cui-modal-width: 820px;
    padding: 20px;
    &__title {
        // text-align: center;
        padding: 0 5px;
        font: {
            size: 20px;
            weight: bold;
        }
    }
    &__list {
        margin-top: 20px;
        // border: 1px solid green;
        width: 100%;
        justify-content: center;
        &__item {
            padding: 10px;
            border-radius: 3px;
            min-width: 250px;
            height: 120px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin: 5px;
            transition: all 0.5s ease;
            cursor: pointer;
            float: left;
            &:hover {
                @extend %shadow;
                transition: all 0.5s ease;
            }
            &__name {
                font: {
                    weight: bold;
                }
            }
        }
    }
    &__action {
        margin-top: 140px;
        padding: 0 5px;
        display: flex;
        justify-content: right;
        clear: left;
        &__cancel-btn {
            @include button(100px, 40px, white);
            border: 1px solid rgba(255, 0, 0, 0.2);
            color: rgba(255, 0, 0, 0.7);
            &:hover {
                filter: brightness(99.3%);
            }
        }
    }
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    font-weight: bold;
}