@import '../../../../scss/custom';

.update-station-status {
    width: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.station-status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 8px;
    &--active {
        background-color: $green;
    }
    &--inactive {
        background-color: $red;
    }
}


.station-creation {
    width: 100%;
    transition: all 0.5s ease;
    &__title {
        font: {
            size: 20px;
            weight: bold;
        }
        padding: 20px;
        padding-bottom: 0;
    }
    &__form {
        padding: 20px;
        padding-top: 10px;
        .css-b62m3t-container {
            margin-top: 10px;
        }
        &__name, 
        &__description, 
        &__coordination, 
        &__sensor-selection,
        &__dam-selection {
            margin-top: 20px;
        }
        &__coordination {
            &__input {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                &__longitude, &__latitude {
                    width: 48%;
                }
            }
        }
    }
    &__action {
        // background-color: rgba(0, 0, 0, 0.08);
        padding: 20px 20px;
        display: flex;
        justify-content: right;
        // margin-top: px;
        &__cancel-btn {
            margin-right: 10px;
            @include button(100px, 40px, white);
            color: $dark-blue;
            border-color: rgba(0, 0, 0, 0.2);
            &:hover {
                filter: brightness(98%);
            }
        }
        &__creation-btn {
            @include button(120px, 40px, $dark-blue);
        }
    }
}

.css-1c8mypd-MuiFormControl-root {
    width: 300px !important;
    padding: 0;
    margin: 0 !important;
    border: none !important; 
}

.css-ppxnyn-MuiFormControl-root {
    margin: 0 !important;
}

//spinner 
.spinner-border {
    border-width: thin;
    position: relative;
}

//modal
.modal-content {
    border: none;
    border-radius: 1px;
}
.deletion-station-confirm {
    &__body {
        padding: 20px;
        height: 100px;
    }
    &__action {
        display: flex;
        justify-content: right;
        padding: 15px 20px;
        background-color: rgba(0, 0, 0, 0.08);
        &__accept-btn {
            @include button(100px, 40px, $red);
        }
        &__cancel-btn {
            margin-right: 10px;
            @include button(100px, 40px, white);
            color: $dark-blue;
            &:hover {
                filter: brightness(98%);
            }
        }
    }
}

.sensor-list {
    --cui-modal-width: 820px;
    padding: 20px;
    &__title {
        // text-align: center;
        padding: 0 5px;
        font: {
            size: 20px;
            weight: bold;
        }
    }
    &__list {
        margin-top: 20px;
        // border: 1px solid green;
        width: 100%;
        justify-content: center;
        &__item {
            padding: 10px;
            border-radius: 3px;
            min-width: 250px;
            height: 120px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin: 5px;
            transition: all 0.5s ease;
            cursor: pointer;
            float: left;
            &:hover {
                @extend %shadow;
                transition: all 0.5s ease;
            }
            &__name {
                font: {
                    weight: bold;
                }
            }
        }
    }
    &__action {
        margin-top: 140px;
        padding: 0 5px;
        display: flex;
        justify-content: right;
        clear: left;
        &__cancel-btn {
            @include button(100px, 40px, white);
            border: 1px solid rgba(255, 0, 0, 0.2);
            color: rgba(255, 0, 0, 0.7);
            &:hover {
                filter: brightness(99.3%);
            }
        }
    }
}

// view station detail
.view-station-detail { //rynan
    padding: 20px;
    &__header {
        font-weight: bold;
        font-size: 20px;
    }
    &__body {
        margin-top: 10px;
        table {
            width: 100%;
            td {
                padding: 10px 0;
            }
            .key {
                width: 30%;
                font-weight: bold;
            }
            .value {
                width: 70%;
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: right;
        &__close-btn {
            @include button(100px, 40px, white);
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: black;
            &:hover {
                filter: brightness(99.3%);
            }
        }
    }
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    font-weight: bold;
}

.defined-station-table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    text-align: center;
    margin-top: 200px;
    span {
        color: blue;
        cursor: pointer;
    }
}