.news-header {
    display: flex;
    justify-content: space-between;
    &__view-more {
        color: #212631;
        cursor: pointer;
        font-weight: bold;
    }
}
.news {
    &__image-list {
        display: flex;
        justify-content: space-between;
        &__item {
            width: calc(100% / 4 - 15px);
            cursor: pointer;
            img {
                max-width: 100%;
                min-height: 170px;
                display: block;
                position: relative;
                border-radius: 3px;
            }
            &__title {
                margin-top: 10px;
                font-weight: bold;
                font-size: 18px;
                text-align: justify;
            }
            &__brief {
                color: rgba(0, 0, 0, 0.7);
                text-align: justify;
            }
        }
    }
}


.modal-content {
    width: 800px;
    margin: auto;
}
.all-news-modal {
    padding-bottom: 20px;
    &__header {
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        &__title {
            display: flex;
            &__search-input {
                border: 1px solid rgba(0, 0, 0, 0.4);
            }
        }
    }
    &__list {
        height: 550px;
        padding: 0 0 0 20px;
        width: 100%;
        overflow: hidden;
        .virtual {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            padding-right: 17px;
            box-sizing: content-box;
        }
        &__item + &__item {
            margin-top: 20px;
        }
        &__item {
            display: flex;
            cursor: pointer;
            &__image {
                img {
                    width: 200px;
                    height: 130px;
                }
            }
            &__info {
                margin-left: 20px;
                &__title {
                    margin-top: 10px;
                    font-weight: bold;
                    font-size: 18px;
                }
                &__brief {
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}