@import '../../../../scss/custom';

//hight chart
.highcharts-range-selector-buttons, .highcharts-credits {
    display: none;
}

.highcharts-navigator-mask-inside {
    fill: #1a284848;
}

.highcharts-input-group {
    text {
        color: black !important;
        fill: black !important;
    }
}
.cnavitem {
    cursor: pointer;
    .cnavlink {
        color: black !important;
    }
}

.chart {
    margin-top: 10px;
}

.highcharts-background {
    position: relative;
}
.highcharts-exporting-group {
   margin-top: 100px;
}

.station-detail2 {
    &__header {
        display: flex;
        justify-content: space-between;
        &__reload {
            margin-right: 8px;
            cursor: pointer;
        }
    }
    &__body {
        height: 700px;
        &__date-range-sort {
            display: flex;
            align-items: center;
            input {
                margin-left: 10px;
                min-width: 150px;
            }
            label + input {
                margin-right: 10px;
            }
            select {
                height: 28px;
                width: 80px;
                margin-right: 10px;
                padding: auto 0;
                padding-bottom: 2px;
            }
            &__search-btn {
                padding: 3px 10px;
                text-align: center;
                background-color: #1a2848;
                color: white;
                cursor: pointer;
                border-radius: 3px;
            }
        }
        &__formating {
            display: flex;
            justify-content: right;
            &__item {
                border-radius: 3px;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                transition: all 0.3s ease;
                border: 1px solid white;
                &:hover {
                    transition: all 0.3s ease;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
                &--active {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    background-color: rgba(0, 0, 0, 0.04);
                }
            }
            &__item + &__item {
                margin-left: 5px;
            }
            &--responsive {
                display: none;
            }
        }
        &__table {
            .nav-tabs {
                padding: 0;
                padding-top: 0.6rem;
            }
            .tab-content {
                padding: 0;
            }
            .nav-link {
                color: black !important;
            }
            table {
                background-color: white;
                // @extend %shadow;
                width: 100%;
                th {
                    padding: 10px;
                    border-bottom: 1px solid black;
                }
                td {
                    padding: 10px;
                }
            }
            .sensor-value-div {
                max-height: 530px !important;
                overflow-y: auto !important;
                box-shadow: 0 0 8px 0.5px rgba(128, 128, 128, 0.308);
            }
            .sensor-value__specific-sensor {
                .time {
                    width: 50%;
                }
                .index {
                    width: 50%;
                    text-align: center;
                    
                }
                tbody {
                    tr:hover {
                        background-color: #f8f8f8;
                    }
                }
                .sort-button {
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
            &__general-index {
                margin-top: 40px;
                background-color: #f8f8f8;
                height: auto;
                padding: 20px;
                @extend %shadow;
                &__header {
                    height: 42px;
                    font-weight: bold;
                }
                &__content {
                    &__time-lts {
                        .value {
                            margin-top: 8px;
                            font-weight: bold;
                        }
                    }
                    &__sensor-value {
                        margin-top: 17px;
                        &__table {
                            margin-top: 5px;
                            display: flex;
                            justify-content: right;
                            table {
                                box-shadow: none;
                                background-color: transparent;
                                width: 90%;
                                td {
                                    padding: 5px !important;
                                }
                                tr {
                                    
                                    .key {
                                        width: 50%;
                                    }
                                    .value {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__seperate-index__download-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                justify-self: right;
                position: absolute;
                right: 0;
                cursor: pointer;
                margin-top: 20px;
                margin-right: 10px;
            }
        }
    }
}

.spinner-border {
    border-width: thin;
    position: relative;
    height: 16px;
    width: 16px;
    margin-left: 10px;
}

.download-card {
    box-shadow: 0 0 8px 0.5px rgba(128, 128, 128, 0.308);
    padding: 20px;
    margin-top: 85px;
    margin-right: 114px;
    margin-left: 10px;
    max-width: 430px;
    position: absolute;
    z-index: 5;
    background-color: white;
    right: 12px;
    top: 23px;
    &__content {
        &__time {
            &__heading {
                font-weight: bold;
            }
            &__input-group {
                display: flex;
                margin-top: 10px;
                input {
                    min-width: 150px;
                    margin-left: 10px;
                }
                label + input {
                    margin-right: 10px;
                }
            }
        }
        &__sensor-option {
            margin-top: 20px;
            &__heading {
                font-weight: bold;
            }
            &__sensor-list {
                margin-top: 10px;
                &__item:first-child {
                    margin-right: 25px;
                }
                &__item + &__item {
                    margin-right: 25px;
                }
                &__item {
                    display: inline-block;
                    &__virtual {
                        display: flex;
                        align-items: center;
                        input {
                            height: 17px;
                            width: 17px;
                        }
                        label {
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }
    &__button {
        clear: left;
        margin-top: 25px;
        display: flex;
        justify-content: right;
        &__close {
            display: flex;
            align-items: center;
            margin-right: 10px;
            cursor: pointer;
            background-color: #f8f8f8;
            border-radius: 3px;
            padding: 8px 18px;
            border: 1px solid #e8e8e8;
            transition: all 0.3s ease;
            &:hover {
                background-color: #f1f1f1;
                transition: all 0.3s ease;
            }
        }
        &__download {
            border: none;
            padding: 8px 18px;
            background-color: green;
            border-radius: 3px;
            cursor: pointer;
            color: white;
        }
    }
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 0px 20px;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 25px;
    &:hover {
        background-color: #f1f1f1;
        transition: all 0.3s ease;
    }
}

.error {
    text-align: center;
    margin-top: 200px;
    &__reload-btn {
        color: blue;
        cursor: pointer;
    }
}

.spin {
    animation: spin 1s linear forwards;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@media only screen and (max-width: 768px) {
    .chart, .table {
        &__nav {
                max-width: 100wh;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
                display: block;
                li {
                    display: inline-block;
                }
        }
    }

    .station-detail2 {
        &__body {
            height: auto;
            &__table {
                &__general-index {
                    margin-top: 30px;
                    padding-top: 20px !important;
                    border-top: 1px solid black;
                }
            }
            &__formating {
                display: none;
                &--responsive {
                    display: flex;
                }
                &__item {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }

    .download-btn {
        margin-right: 10px;
        padding: 0; 
        border: none;
        background-color: transparent !important;
    }

    .download-card {
        margin-right: 0px;
        margin-top: 78px;
    }
  }

  @media only screen and (max-width: 507px) {
    .download-card {
        &__content {
            &__time {
                &__input-group {
                    display: block;
                    .from, .to {
                        label {
                            width: 30px;
                        }
                    }
                    .to {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .station-detail2 {
        &__body {
            &__date-range-sort {
                input {
                    min-width: 110px;
                }
            }
        }
    }
  }